{% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% block category %}
<form method="post" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <div class="col col-lg-6">
        <h4>Shipping Information</h4>
        <div class="row">
          <div class="col">
            <p>Address</p>
            <input type="address" />
            <p>State</p>
            <input type="state" />
            
          </div>
          <div class="col">
            <p>City</p>
            <input type="city" />
            <p>Zipcode</p>
            <input type="Zipcode" />
          </div>
        </div>
        <button>Countine</button>
      </div>
      <div class="col col-lg-6">
        <h3>Order Summary</h3>
        <h4>Total : $0</h4>
        <div class="row">
          <div class="col">
            <h5>Product</h5>
            <h5>Product</h5>
          </div>
          <div class="col">
            <h5>Product</h5>
            <h5>Product</h5>
          </div>
          <div class="col">
            <h5>Product</h5>
            <h5>Product</h5>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</form>
